/lib
/dist
/tests/.tmp
/addins/build
/addins/**/build
/vendor
/scripts/registry
/installer

# Office temporary files (https://github.com/DecimalTurn/VBA-on-GitHub)
~$*
.backup

# Access database lock files (laccdb, ldb)
*.[lL][aA][cC][cC][dD][bB]
*.[lL][dD][bB]

# Test artifacts: packages extracted from registry archives still use old manifest name
tests/__fixtures__/.vbapm/sources/**/vba-block.toml

# OS and other
.env
.DS_Store
node_modules
*.log
