# Auth: Trusted Publishing: https://docs.npmjs.com/trusted-publishers

name: Publish Package

on:
  workflow_dispatch:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-*'

jobs:

  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          registry-url: 'https://registry.npmjs.org/'

      - name: Install
        run: npm ci
        env:
          CI: true

      - name: Typecheck
        run: npm run typecheck

      - name: Build
        run: npm run build:lib

      - name: Determine npm tag
        id: npm-tag
        run: |
          VERSION=$(jq -r '.version' package.json)
          if [[ "$VERSION" == *-* ]]; then
            echo "tag=next" >> $GITHUB_OUTPUT
          else
            echo "tag=latest" >> $GITHUB_OUTPUT
          fi

      - name: Publish to npm
        run: npm publish --provenance --tag ${{ steps.npm-tag.outputs.tag }}

      - name: Check git status
        run: git status && git diff
