name: Test and Build
on:
  push:
    branches:
      - main
			- dev
			- dev-*
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
        with:
          submodules: true
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: Install
        run: npm install
        env:
          CI: true
      - name: Format Check
        run: npx prettier --check "**/*.{ts,js}"
      - name: Typecheck
        run: npm run typecheck
      - name: Test
        run: npm test
      - name: E2E Test
        run: npm run test:e2e
      - name: Build
        run: npm run build
