name: Test and Build
on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
      - name: Install
        run: npm install
        env:
          CI: true
      - name: Format Check
        run: npx prettier --check "**/*.{ts,js}"
      - name: Typecheck
        run: npm run typecheck
      - name: Test
        run: npm test
      - name: Build
        run: npm run build:dev
